
    <div class="loginBox">
        <h3>Sign-Up</h3>
        <img class="user" src="https://i.ibb.co/yVGxFPR/2.png" height="100px" width="100px">
       
        <form>
            <div class="inputBox">
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" id="uname" name="Username" placeholder="Enter Name">
                <input type="text" [(ngModel)]="dob" [ngModelOptions]="{standalone: true}" id="pass" name="Password" placeholder="Enter Date of Birth">
                <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" id="pass" name="Password" placeholder="Enter Email">
                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" id="pass" name="Password" placeholder="Enter Password">
            </div>
            <button type="submit" class="btn btn-primary mt-4" (click)="save()">Save</button>
        </form>
        <a href="#">Already Registered? Login</a>
    </div>
    